@page "/EditBook/{BookId}"
@inherits EditBookBase

<h3>Edit Book</h3>

@if (Book == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="mb-3">
        <label>Title:</label>
        <input @bind="Book.BookTitle" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Genre:</label>
        <input @bind="Book.Genre.GenreName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Author First Name:</label>
        <input @bind="Book.Writer.FirstName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Author Last Name:</label>
        <input @bind="Book.Writer.LastName" class="form-control" />
    </div>

    <button class="btn btn-primary" @onclick="SaveBook">Save</button>
    <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
}
