@page "/Library"

<h3>Library</h3>


@if (Books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Author First Name</th>
                <th>Author Last Name</th>
                <th>Title</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Books)
            {
                <tr>
                    <td>@book.Writer.FirstName</td>
                    <td>@book.Writer.LastName</td>
                    <td><i>@book.BookTitle</i></td>
                    <td>@book.Genre.GenreName</td>
                </tr>
            }
        </tbody>
    </table>
}
